/Scripts/export_excel.ps1
Scripts/Input/
Scripts/notes.ps1
Scripts/metadata.ps1
Scripts/Output/
Scripts/*test*
Source/*Module*
Source/*Todo*
*.doccls
*.zip
Distribution/
Templates/
.vscode/

# test files and folders

*test*
/**test**

*TestTest*
/**TestTest**